<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <meta charset="utf-8" />
      <title>Spell It</title>
      <link href="{{ url_for('static', filename='bootstrap.css') }}" 
            rel="stylesheet">
      <link href="{{ url_for('static', filename='docs/assets/css/docs.css')}} " 
            rel="stylesheet">
      <link href="{{ url_for('static',
            filename='docs/assets/js/google-code-prettify/prettify.css') }} " 
            rel="stylesheet">
    {% endblock %}
  </head>
  <body>
    <p>&nbsp;</p>
    <div class="container">
     {% block container %}
     {% endblock %}
    </div>
  </body>
</html>
